/*@charset "utf-8";*/
/* CSS Document */
body {
    
    background-color: #000;
    color:#FFF;
    font-family: Marvel;
    text-align: center;

}

h1 {
    background-color: #e23636;
    font-weight: bold;
    font-size: 400%;
    padding: 15px;
    margin-bottom: 1px;
    display: inline-block;
}

form {
    margin-left: 25%;
    margin-right: 25%;
    display: inline-block;
}

label {
    font-weight: bold;
    width: 6em;
    margin-bottom: 0.5em;
    margin-left: 30%;
    margin-right: 50%;
    float: left;
    padding: -150%;
}

br {
    clear: both;
}

a {
    color: #FFF;
}

table {
    width: 150%;
    margin-left: -25%;
}

th,tr {
    width: 25%;
}

label {
    padding-left: 15%;
}

.content {
    max-width: 80%;
    margin: auto;
    padding: 10px;
}


input.button {
    color: black;
    transition-duration: 0.4s;
    border: 2px solid #e23636;
    border-radius: 12px;
    
    background-color: white;
    padding: 15px 32px;
    font-family: Marvel;
    font-weight: bold;
}

input.button:hover {
    background-color: #e23636;
    color: white;
}

#return {
    transition-duration: 0.4s;
    border: 2px solid #e23636;
    border-radius: 12px;
    color: black;
    background-color: white;
    padding: 15px 32px;
    font-family: Marvel;
    font-weight: bold;
}

#return:hover {
    background-color: #e23636;
    color: white;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    outline: none;
}

.info {
    margin-left: 25%;
    margin-right: 25%;
    display: inline-block;    
}
